*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/buildmypc/buildmypc-ac8c3-firebase-adminsdk-ryfk0-0ccb4f1c62.json
/app/src/main/res/values/env.xml